{% extends "form_base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h3 class="mt-4 mb-5">プロジェクト作成</h3>
    <p class="mt-4 mb-5 border-bottom">
      <a href="">プロジェクトの作成方法</a>
    </p>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <input type="submit" value="プロジェクトを作成する" class="btn btn-primary">
        </div>
      </div>
    </form>
    <a href="{% url 'top'%}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}