{% extends "form_base.html" %}
{% load bootstrap4 %}

{% block content %}
  <h3 class="mt-4 mb-5">開発プロジェクト編集</h3>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
      <div class="offset-md-3 col-md-9">
        <input type="submit" value="プロジェクトを更新する" class="btn btn-primary">
      </div>
    </div>
  </form>
  <a href="{% url 'app:top'%}" class="btn btn-secondary btn-sm">戻る</a>
{% endblock content %}