{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/sign_form.css' %}">
  <title>Developeer - チーム開発のマッチングサービス</title>
  <link rel="shortcut icon" href="https://i.gyazo.com/bd55ec8e0518e1c2b21d514cb9ca6d76.jpg">
</head>
<div class="form-wrapper">
    <h1>ログイン</h1>
    <form action="" method="POST">
      <div calss="form-item">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-item">
            {{ field.label }}
            <br>
            {{ field }}
            <br>
        </div>
            {{ field.error }}
        {% endfor %}
        <br>
      </div>
      <div class="button-panel">
        <button class="btn-login" type="submit">ログインする</button>
      </div>
    </form>
    <div class="form-footer">
        <p><a href="{% url 'signup' %}">新規登録はこちらから</a></p>
    </div>
</div>