form {
  padding: 0 1.5em;
}

/* Form Layout */
.form-wrapper {
  background: #fafafa;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.btn-login {
    padding: 5px 35px 5px 35px;
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #4169e1;
    cursor: pointer;
    border-radius: 6px;
}

.btn-login:hover {
    background-color: #1e90ff;
}

.btn-signup {
    padding: 5px 10px 5px 10px;
    margin-left: 100px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color:#4169e1;
    cursor: pointer;
    border-radius: 6px;
}

.btn-signup:hover {
    background-color: #1e90ff;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}
 