{% extends 'base.html' %}

{% block main %}
<main>
  <section class="py-5 text-center container intro">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">プログラミング学習者をつなぎチーム開発が経験できるプラットフォーム</h2>
        <p class="lead text-muted">プログラミングを独学していても、なかなか実務ではたらける力は身につかない。developeerはエンジニア同士をつなげ、チーム開発経験を積む場所を提供します。</p>
        <p>
          <a href="https://www.notion.so/developeer-f35963e4bf764e5b93084d832af5a595" class="btn btn-primary my-2">developeerとは</a>
          {% if user.is_authenticated %}
          <a href="{% url 'projectlist' %}" class="btn btn-secondary my-2">プロジェクトをさがす</a>
          {% else%}
          <a href="{% url 'signup' %}" class="btn btn-secondary my-2">アカウントを作成</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="py-5 text-center container">
        <div class="row py-lg-5 bg-light">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light project-sample">プロジェクトに参加しましょう</h2>
            <p>さまざまな技術スタックのプロジェクトに無料で参加できます。もちろん自分で始めることも可能です。</p>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 page-hide">
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://i.gyazo.com/c2e5be03ea078d4e7f9b2a8d568e358d.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="card-body">
              <p class="card-text">developeerのサービス開発に参加しよう</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href=''>
                    <button type="button" class="btn btn-primary">
                      詳しく見る
                     </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://i.gyazo.com/431f1d7a6900f83fd6762404b94c7145.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="card-body">
              <p class="card-text">RailsでSNSアプリをチーム開発しよう</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href=''>
                    <button type="button" class="btn btn-primary">
                      詳しく見る
                     </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://i.gyazo.com/6d9256ed41fd5d687e6af0dd2e67e4de.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="card-body">
              <p class="card-text">ReactでBlogサイトをチーム開発</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href=''>
                    <button type="button" class="btn btn-primary">
                      詳しく見る
                     </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row bg-light">
    <div class="py-5 text-center container">
      <div class="row py-lg-5 bg-light">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h2 class="fw-light">利用方法</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="../static/images/idea.png" alt="Generic placeholder image" width="140" height="140">
      <h3 class="circle-title">1. プロジェクト開始</h3>
      <p class="circle-text">自分がチーム開発したい技術を入力して、プロジェクトを開始しましょう。</p>
      <p><a class="circle-detail" href="https://www.notion.so/c53a15b12a5e44709cc713f4f3e2d0fe">詳しく見る</a></p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="../static/images/project-match.png" alt="Generic placeholder image" width="140" height="140">
      <h3 class="circle-title">2. マッチング</h3>
      <p class="circle-text">この開発に参加したい人とマッチングします。マッチングしたら、チャットをして開発内容を確認しましょう。</p>
      <p><a class="circle-detail" href="https://www.notion.so/d17b8422c91a415a969d4a5dc84a2d83">詳しく見る</a></p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="../static/images/pc-programming.png" alt="Generic placeholder image" width="140" height="140">
      <h3 class="circle-title">3. チーム開発</h3>
      <p class="circle-text">メンバーが集まったらチーム開発を始めることができます。独学ではできない、チーム開発を経験することで実装力を高めましょう。</p>
      <p><a class="circle-detail" href="https://www.notion.so/854e5612e39949e79c382a724ca3e3b7">詳しく見る</a></p>
    </div>
    <div class="py-5 text-center container">
      <div class="row py-lg-5 bg-light intro-account">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h3 class="fw-light">developeerを使って、チーム開発を始めましょう</h3>
          {% if user.is_authenticated %}
          <p>
            <a href="{% url 'readyfor' %}" class="btn btn-primary my-2">プロジェクトをはじめる</a>
          </p>
          {% else %}
          <p>
            <a href="{% url 'signup' %}" class="btn btn-primary my-2">アカウントを作成する</a>
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock main %}